<ion-header  no-border>
  <ion-toolbar color="light" transparent style="margin-top:.84em;">

    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon slot="start" name="arrow-round-back"  style="color:yellow !important;"></ion-icon>
      </ion-button>
    </ion-buttons>



  </ion-toolbar>

</ion-header>



<ion-content fullscreen="true" style="margin-top:-5em;">
   
  
   
  <div *ngIf="mostrar"  style="margin-top:-5em;background:#f0f4f8;" class="animated fadeIn slow" >
 <div *ngIf="!pelicula.title" text-center style="margin-top: 5em;background: white;">
      <h2>No hay datos</h2>
      <p >Revisa tu conexión a internet o vuelve a intentar.</p>
    </div>
    <div *ngIf="pelicula.title">

  <img [src]="pelicula.backdrop_path | imagen" style="width: 100%;" class="cover" *ngIf="pelicula.backdrop_path">
<img src="https://fakeimg.pl/1200x600/0B1B2D/?text=%20" class="" *ngIf="!pelicula.backdrop_path">
  <ion-grid>
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="4" class="poster-detalle-sobre">

        <ion-card class="poster" style="border-radius: 1em;">
          <img [src]="pelicula.poster_path | imagen" 
               class="poster"
               *ngIf="pelicula.poster_path">
        </ion-card>

      </ion-col>
    
    </ion-row>
  </ion-grid>


  <ion-grid fixed>
     <ion-label >
    <h1 text-center>  {{ pelicula.title }} </h1>
  </ion-label>


    <ion-row *ngIf="pelicula.overview">
      <ion-col size=12 style="text-align: justify !important;" padding>

        <ion-label ><span >{{ pelicula.overview | slice: 0: oculto }}...</span>  </ion-label>
        <ion-label color="primary"
                   (click)="oculto = 5000"
                   *ngIf="oculto !== 5000">Leer más!</ion-label>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">

        <ion-chip *ngFor="let genero of pelicula.genres"
                  color="primary">
          <ion-label>{{ genero.name }}</ion-label>
        </ion-chip>

      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-row *ngIf="dia_cut" style="color:white;background: #1c1d2f;padding:1em;margin-bottom: 2em;">
    <ion-col></ion-col>
    <ion-col style="color:white;" text-center class="animated delay-2s heartBeat slow">
      <div (click)="mostrarfechas(dia_cut,hora_cut,pelicula.poster_path,pelicula.title)">
        
      <p >Fechas en carteleraCUT</p>
      <ion-icon name="calendar"   routerLink="/guardados" style="zoom:3.0;color:white;"></ion-icon>
      <p><b>{{dia_cut}}</b></p>
      <p>{{hora_cut}}</p>
      </div>
      <!--<p><b>{{ pelicula.release_date | date:'dd/MM/yyyy'}}</b></p>-->
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <ion-row text-center>
    <ion-col style="color:blue;"  (click)="mostrar_toast('La pelicula se lanzo ese dia.')">
      <ion-icon name="calendar" style="zoom:2.0;color:blue;"></ion-icon>
      <p>{{ pelicula.release_date | date:'dd/MM/yyyy'}}</p>
    </ion-col>
     <ion-col (click)="mostrar_toast('El director de la pelicula es '+director+'.')" >
      <ion-icon name="film" style="zoom:2.0;color:#17202F;"></ion-icon>
      <p><b>{{ director }}</b></p>
    </ion-col>
    <ion-col style="color:green;" (click)="mostrar_toast('La pelicula dura '+pelicula.runtime+' minutos.')">
      <ion-icon name="time" style="zoom:2.0;color:green;"></ion-icon>
      <p>{{pelicula.runtime }} Min.</p>
    </ion-col>
  </ion-row>


      <ion-row text-center style="margin-top: 1em;padding: 0 1.8em;">
        <ion-col >
          <ion-buttons >
          <ion-button (click)="favorito()"  >
              <ion-icon  [name]="estrella"  style="zoom:2.0;color:green;text-align: center;"></ion-icon>
          </ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col>
         <ion-buttons (click)="proponer(pelicula.id)">
          <ion-button style="color:orange;">
             <p text-center>Proponer</p>
          </ion-button>
         </ion-buttons>
        </ion-col>
        <ion-col>
           <div *ngIf="videoUrl">
            <a [href]="videoUrl" ion-button style="color:red;"><ion-icon name="logo-youtube" style="zoom:2.0;"></ion-icon></a>
          </div>
        </ion-col>
      </ion-row>

<div *ngIf="actores.length > 0"> 
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h4 text-center>Actores</h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides [options]="slideOptActores">
    <ion-slide *ngFor="let actor of actores">
      
      <ion-card style="background:#25303c;color:white;border-radius: 2em;" class="card-actor animated delay-1s fadeIn slow" (click)="showActor(actor.id)">
        <img *ngIf="!actor.profile_path" src="/assets/no-avatar.jpg">
        <img *ngIf="actor.profile_path" [src]="actor.profile_path | imagen">

        <ion-label class="actor-name"><b> {{ actor.name }}</b></ion-label>

      </ion-card>

    </ion-slide>
  </ion-slides>
</div>

<div *ngIf="similares.length > 0"> 
<ion-grid fixed>
    <ion-row>
      <ion-col>
        <h4 text-center>Peliculas Similares</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slides [options]="slideOptSimilares">
    <ion-slide *ngFor="let similar of similares">
      
      <ion-card style="border-radius: 2em;" class="card-actor animated delay-1s fadeIn slow" (click)="showMovie(similar.id)">
        <img *ngIf="!similar.backdrop_path" src="/assets/no-avatar.jpg">
        <img *ngIf="similar.backdrop_path" class="cover" [src]="similar.backdrop_path | imagen">

        <ion-label class="actor-name"><b> {{ similar.title }}</b></ion-label>

      </ion-card>

    </ion-slide>
  </ion-slides> 
</div>

  </div>
  </div>

  <div *ngIf="!mostrar" style="margin-top:-5em">
    
  <div class="image-content  animated delay-1s flash slow infinite"></div>

   <ion-grid>
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="4" class="poster_content">

        <ion-card class="poster" style="border-radius: 1em;">
        </ion-card>

      </ion-col>
    
    </ion-row>
  </ion-grid>

  <div padding>
    
    <h2 text-center>
       <ion-label>

        <p>
          <ion-skeleton-text width="80%" class="animated delay-1s flash slow infinite"></ion-skeleton-text>
        </p>
      </ion-label>
    </h2>
    
    <p>
      <ion-skeleton-text width="100%" class="animated delay-1s flash slow infinite"></ion-skeleton-text>
      <ion-skeleton-text width="100%" class="animated delay-1s flash slow infinite"></ion-skeleton-text>
      <ion-skeleton-text width="100%" class="animated delay-1s flash slow infinite"></ion-skeleton-text>
    </p>

  </div>

  <ion-list>
    <ion-item>
    
      <ion-label>
       <ion-skeleton-text width="70px " class="animated delay-1s flash slow infinite"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>


   <ion-slides [options]="slideOptActores" class="animated delay-1s flash slow infinite">
    <ion-slide *ngFor="let actor of actores" style="background: #e6e6e6;">
      
      <ion-card class="card-actor" >
        <div>
        </div>
         <ion-skeleton-text width="65%"></ion-skeleton-text>

      </ion-card>

    </ion-slide>
  </ion-slides>

 </div>

</ion-content>


<ion-footer no-border>
  
</ion-footer>
