<ion-header translucent="true"  no-border>
  <ion-toolbar color="light" transparent>

    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon slot="start" name="arrow-round-back"  style="color:yellow !important;"></ion-icon>
      </ion-button>
    </ion-buttons>



  </ion-toolbar>

</ion-header>

<ion-content fullscreen style="margin-top:-5em;font-weight: bold !important;">
 		

    <!--<img [src]="actor.profile_path | imagen" *ngIf="actor.profile_path" style="margin-top:-5em;" >
-->
<img style="
z-index: 1;
margin-top:-5em;}
background-size: cover;
height: 130%;
position: relative;
filter:grayscale(100%);
filter:brightness(0.33);
 "

	 [src]="actor.profile_path | imagen" *ngIf="actor.profile_path">


<div style="position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  color:#EDF7F6;
  max-height:110%;
  overflow: scroll;">
	
  <h2 text-center style="color:#008921;">{{actor.name}}</h2>
  <hr>

	<div text-center>
		<h3 class="gold">Fecha de Nacimiento</h3>
		<p>{{actor.birthday | date:'dd/MM/yyyy'}}</p>
	</div>
	<div text-center *ngIf="actor.deathday">
		<h3 class="gold">Fecha de Fallecimiento</h3>
		<p>{{actor.deathday | date:'dd/MM/yyyy'}}</p>
	</div>

	<div *ngIf="actor.place_of_birth" text-center>
		<h4 class="gold" >Lugar de nacimiento</h4>
		<p>{{actor.place_of_birth}}</p>
	</div>
	
	<div *ngIf="actor.gender" text-center>
		<h3 text-center class="gold">Sexo</h3>
		<p *ngIf="actor.gender === 2">
			Masculino
		</p>
		<p *ngIf="actor.gender === 1">
			Feminino
		</p>
	</div>

	
	<div *ngIf="actor.biography" style="padding:2em!important;">
		<h3 text-center class="gold">Biografia</h3>
		<p style="text-align: justify;">{{actor.biography}}</p>
	</div>
	</div>

</ion-content>