<ion-header translucent="true"  no-border>
  <ion-toolbar color="light" transparent>

    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon slot="start" name="arrow-round-back"  style="color:yellow !important;"></ion-icon>
      </ion-button>
    </ion-buttons>



  </ion-toolbar>

</ion-header>

<ion-content fullscreen style="margin-top:-5em;font-weight: bold !important;max-height: 110%;">
 		

    <!--<img [src]="actor.profile_path | imagen" *ngIf="actor.profile_path" style="margin-top:-5em;" >
-->
<img style="
z-index: 1;
margin-top:-5em;}
background-size: cover;
height: 115%;
position: relative;
filter:grayscale(100%);
filter:brightness(0.33);
 "

	 [src]="actor.profile_path | imagen" *ngIf="actor.profile_path">
<div style="position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  color:#EDF7F6;
  max-height:115%;">
	<h1 text-center style="color:#008921;"><b>{{actor.name}}</b></h1>
</div >

<div style="position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  color:#EDF7F6;
  max-height:115%;
  overflow: scroll;">
  
  <ion-row>
  	<ion-col >
  		<div text-center style="display: block;
  vertical-align: middle;">
			<h3 class="gold">Nacimiento</h3>
			<p *ngIf="actor.birthday">{{actor.birthday | date:'dd/MM/yyyy'}}</p>
			<p *ngIf="!actor.birthday">-</p>
			<p></p>
		</div>
  	</ion-col>
  		<ion-col >
  		<div text-center style="display: block;
  vertical-align: middle;">
			<h3 class="gold">Fallecimiento</h3>
			<p *ngIf="actor.deathday">{{actor.deathday | date:'dd/MM/yyyy'}}</p>
			<p *ngIf="!actor.deathday">No ha fallecido.</p>
		</div>
  		</ion-col>
	</ion-row>

	<ion-row>
  	<ion-col >
  			<div  text-center style="display: block;
  vertical-align: middle;">
		<h3 class="gold" >Ciudad</h3>
		<p *ngIf="actor.place_of_birth">{{actor.place_of_birth}}</p>
		<p *ngIf="!actor.place_of_birth">-</p>
	</div>
  	</ion-col>
  	<ion-col >
  		<div *ngIf="actor.gender" text-center style="display: block;
  vertical-align: middle;">
		<h3 text-center class="gold">Sexo</h3>
		<p *ngIf="actor.gender === 2">
			Masculino
		</p>
		<p *ngIf="actor.gender === 1">
			Feminino
		</p>
	</div>
  	</ion-col>
  </ion-row>

	</div>

</ion-content>