<ion-header no-border>
  <ion-toolbar style="margin-top:1.2em;">
    <ion-title>Fecha</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon slot="start" name="arrow-round-back"  style="color:yellow !important;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  text-center padding>
	<ion-icon name="calendar" style="zoom:3.0;color:brown;"></ion-icon>
	<p style="font-size: .95em;font-weight: bold;color:brown;">Dia</p>
	<h3 style="color:brown;">{{fecha}}</h3>
	<ion-button color="success" (click)="presentActionSheet()"  id="btnrecordar"> Recordarme</ion-button>
</ion-content>
