

<ion-content class="card-background-page">

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Baja para actualizar"
      refreshingSpinner="crescent"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed>
    <ion-row padding >
      <ion-col size="8" >
          <h3 >Cartelera <span style="color:green;font-weight: bold;">CUT</span></h3>
      </ion-col>
      <ion-col size="4" text-right>
        <h3>
          <ion-icon routerLink="/guardados" name="bookmark" style="color:#265B75;zoom:1.4;vertical-align: middle;display: inline-block;"></ion-icon>
          <ion-icon name="search" style="color:#17202D;zoom:1.4;vertical-align: middle;display: inline-block" routerLink="/tab2">
          </ion-icon>
        </h3>
      </ion-col>
    </ion-row>
  </ion-grid>


  <app-slideshow-cut [peliculas]="peliculas"></app-slideshow-cut>
 <!-- <h3>Cartelera en los cines</h3>
 
  -->
  
  
  
  
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3 text-center>Populares</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <app-slideshow-pares [peliculas]="populares"
                       (cargarMas)="cargarMas()"></app-slideshow-pares>
  
 <ion-grid fixed >
    <ion-row>
      <ion-col>
        <h3 text-center>Comunidad CUT</h3>
         <ion-item routerLink="/tab3">
    <ion-label style="vertical-align: middle;display: inline-block;">
      <ion-icon name="bookmark" style="zoom:2.0;color:#265B75;vertical-align: middle;display: inline-block;"></ion-icon>
      <b>Votar Pelicula</b>
    </ion-label>
</ion-item>
      </ion-col>
    </ion-row>
  
  <ion-item routerLink="/guardados">
    <ion-label style="vertical-align: middle;display: inline-block;">
      <ion-icon name="bookmark" style="zoom:2.0;color:#265B75;vertical-align: middle;display: inline-block;"></ion-icon>
      <b>Guardados</b>
    </ion-label>
</ion-item>

  </ion-grid>
<ion-button (click)="cerrar_sesion()"  shape="round" expand="full" color="danger" style="margin:  2em !important;">Cerrar Sesión</ion-button>
</ion-content>
