.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

} 

.triangulo{
    backgroun-color:red;
    width: 100%;
    height: 70%;
    background: url("https://images.unsplash.com/photo-1575819974033-21c1faf2adf0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=369&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    /* The points are: centered top, left bottom, right bottom */
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
}

