<ion-header  no-border>
  <ion-toolbar style="margin-top:1.5em;" color=‘light’ transparent >
    <ion-buttons slot="start">
      <ion-back-button text="" style="color:yellow;" icon="arrow-round-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="animated delay-1s fadeIn slow" fullscreen  style="background: #f1f3f6;">
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Baja para actualizar"
      refreshingSpinner="crescent"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
  
  <img class="cover" style="margin-top: -7em;" src="https://image.freepik.com/foto-gratis/albanileria-trabajador-construccion-construyendo-pared-ladrillos_1150-14756.jpg"alt="">

  
  <h1 style="text-align:center;margin-bottom:2em;color: #f66a6b;font-weight: bold;font-size: 1.5em;">Albañeleria</h1>

<div padding>
  <div routerLink="/noticias" >
  <p style="color:#f25a2b;display: block;overflow: hidden;
  text-overflow: ellipsis;white-space: nowrap; width: 60%;font-weight: bold;" class="ion-text-capitalize">Luis Rojas<p>
  <span style="color:#0d6d32fa;font-size:0.8em;font-weight: bold;">4.4 km</span>
    <img style="position: relative;float: right;margin-top: -3.5em;border-radius: 1em;" src="https://cdn.iste.org/www-root/2018-09/img_id_957.png?nbCqrYTfCW8I845shrT4WbfhPROz1rX_" width="100" alt="">
  </div>

  <div routerLink="/noticias" style="margin-top: 3em;" >
  <p style="color:#f25a2b;display: block;overflow: hidden;
  text-overflow: ellipsis;white-space: nowrap; width: 60%;font-weight: bold;" class="ion-text-capitalize">Luis Rojas<p>
  <span style="color:#0d6d32fa;font-size:0.8em;font-weight: bold;">4.4 km</span>
    <img style="position: relative;float: right;margin-top: -3.5em;border-radius: 1em;" src="https://cdn.iste.org/www-root/2018-09/img_id_957.png?nbCqrYTfCW8I845shrT4WbfhPROz1rX_" width="100" alt="">
  </div>

</div>

</ion-content>
